<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TerrariaRupeeReplacer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TerrariaItemModifier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <runtime>
    <ThrowUnobservedTaskExceptions enabled="true"/>
  </runtime>
  <userSettings>
    <TerrariaRupeeReplacer.Properties.Settings>
      <setting name="ExePath" serializeAs="String">
        <value />
      </setting>
      <setting name="Copper" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="Silver" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="Gold" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="Platinum" serializeAs="String">
        <value>Purple</value>
      </setting>
      <setting name="IsTMod" serializeAs="String">
        <value>False</value>
      </setting>
    </TerrariaRupeeReplacer.Properties.Settings>
    <TerrariaItemModifier.Properties.Settings>
      <setting name="ExePath" serializeAs="String">
        <value/>
      </setting>
    </TerrariaItemModifier.Properties.Settings>
  </userSettings>
</configuration>
